* {
  box-sizing: border-box;
}

html,
body {
  font-family: Arial, Helvetica, sans-serif;
}

header {
  align-items: center;
  display: flex;
  height: 160px;
  justify-content: space-around;
}

.nav-list {
  align-items: center;
  display: flex;
}

.nav-item {
  color: #8b48bf;
  list-style: none;
  margin-right: 2rem;
}

.nav-item a {
  text-decoration: none;
}

.nav-item a:hover {
  color: #8b48bf;
}

.btn-contact {
  background: #8d4ebd;
  border: none;
  border-radius: 50px;
  color: white;
  cursor: pointer;
  outline: none;
  padding: 0.5rem 1rem;
}

.btn-contact:hover {
  background: #cca4cc;
}

.nav-bar {
  display: flex;
}

.menu{
  display: none;
}

.presentation__container {
  align-items: center;
  display: flex;
  justify-content: space-evenly;
}

.presentation__item {
  border: 2px;
  display: flex;
  margin: 20px;
}

.presentation__article {
  align-items: flex-end;
  border: 2px;
  display: flex;
  flex-direction: column;
  margin: 20px;
  padding: 1rem 10%;
  text-align: right;
}

.presentation__title {
  color: #323851;
  font-size: 44px;
  margin-bottom: 15px;
}

.presentation__paragraph {
  margin-bottom: 15px;
}

.presentation-btn {
  background: #8b48bf;
  border: none;
  border-radius: 50px;
  color: white;
  cursor: pointer;
  outline: none;
  padding: 0.5rem 1rem;
}

.presentation-btn:hover {
  background: #cca4cc;
}

.banner {
  display: flex;
  width: 100%;
  padding: 4% 15%;
  justify-content: center;
  align-items: center;
  gap: 10%;
  color: #fff;
  background: #8b48bf;
}

.banner-title {
  font-size: 2rem;
  text-align: left;
  padding-right: 3rem;
  width: 50%;
}

.banner-description {
  font-size: 16px;
  font-weight: 500;
  width: 45%;
}

.button-container {
  display: flex;
  justify-content: right;
  width: 45%;
}

.button-container button {
  border-radius: 50px;
  background: #fff;
  border: none;
  color: #8b48bf;
  cursor: pointer;
  padding: 1rem 3rem;
}

.best__container {
  align-items: center;
  background: linear-gradient(
    to bottom,
    #ffffff 0%,
    #ffffff 20%,
    #fafafa 20%,
    #fafafa 100%
  );
  display: flex;
  justify-content: space-between;
}

.best__month{
  font-size: 36px;
  margin-bottom: 15px;
  padding-top: 15px;
}

.best__title {
  align-items: center;
  color: #323851;
  display: flex;
  justify-content: center;
  margin-top: 5%;
}

.best__item {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin: 10px;
  padding: 10px;
}

.best__img {
  border-radius: 50%;
}

.best__paragraph {
  color: #b3b2b7;
  margin: 15px;
  text-align: center;
}

.best__button {
  align-items: center;
  display: flex;
  justify-content: center;
  padding: 2rem;
}

.best-btn{
  padding-left: 30px;
  padding-right:30px;
}

.differentials__container {
  background: #fafafa;
  padding: 3.5rem 7.5%;
}

.differentials__list {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: center;
}

.differentials__item {
  width: 45%;
  list-style-type: none;
  padding: 1.5rem 4rem;
}

.item__title {
  color: #323851;
  font-size: 16px;
  font-weight: 600;
  line-height: normal;
  letter-spacing: -0.24px;

  padding-left: 1rem;
}

.item__content {
  color: #b3b2b7;
  padding-left: 1rem;
  font-size: 15px;
  font-weight: 500;
  line-height: 156.6%; /* 25.523px */
  letter-spacing: -0.163px;
}

.button1-li {
  background-image: url(../img/button1.svg);
  background-size: 10%;
  background-repeat: no-repeat;
  background-position: top 1.15rem left 0rem;
}

.button2-li {
  background-image: url(../img/button2.svg);
  background-size: 10%;
  background-repeat: no-repeat;
  background-position: top 1.15rem left 0rem;
}

.button3-li {
  background-image: url(../img/button3.svg);
  background-size: 10%;
  background-repeat: no-repeat;
  background-position: top 1.15rem left 0rem;
}

.footer {
  width: 100%;
  height: 22vh;
  background-color: #1e1e26;
  padding: 2rem 10%;
  color: #fff;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: top;
}

.footer section {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.logo-footer {
  width: 100px;
  margin-bottom: 1rem;
}

.social-media {
  display: flex;
  width: 12vw;
  flex-direction: row;
  justify-content: space-around;
}

.right {
  flex-direction: column;
}

.left {
  flex-direction: column;
}

.links-footer {
  display: flex;
  flex-direction: column;
  width: 100px;
}

.links-footer li {
  list-style: none;
  margin-bottom: 0.5rem;
}

section.links-container {
  display: flex;
  flex-direction: row;
  width: 25%;
  justify-content: space-between;
  gap: 40%;
}

.suscription {
  display: flex;
  flex-direction: row;
}

.suscription input {
  width: 100%;
  border-radius: 50px;
  border: none;
  padding: 0.5rem;
}

.suscription button {
  background: #8b48bf;
  border: none;
  color: #fff;
  cursor: pointer;
  border-radius: 50px;
  margin-left: 1rem;
  padding: 0.75rem 1.5rem;
}

.credits-desktop {
  font-size: 14px;
  color: #8c8c94;
  text-align: right;
}

.credits-mobile {
  display: none;
}

@media screen and (max-width: 480px) {
  /* Header */
  .nav-list{
    display: none;
  }
  .btn-contact{
    display: none;
  }
  .menu{
    display: block;
  }

  /* Seccion Presentation  */
  .presentation__container{
    flex-direction: column;
  }
  .presentation__item{
    width: 100%;
    height: 100%;
    padding: 1rem 10%;
  }

  /*Sección de Banner 1*/
  .banner {
    flex-direction: column;
    padding: 8% 4%;
    gap: 30px;
    background: #3cddf3;
  }

  .banner-title {
    font-size: 24px;
    padding-right: 5rem;
    text-align: left;
    width: 90%;
  }

  .banner-description {
    font-size: 14px;
    text-align: left;
    font-weight: 500;
    width: 90%;
  }

  .button-container {
    justify-content: center;
  }

  .button-container button {
    background-color: #232c50;
    color: #fff;
  }

  /*Sección de Diferenciales*/
  .differentials__container {
    padding: 5% 0;
  }

  .differentials__item {
    width: 100%;
    list-style-type: none;
    padding: 1.5rem 0rem;
    padding-left: 2.5rem;
  }

  .item__title {
    font-size: 1rem;
    font-weight: 500;
    margin-right: 1.5rem;
    border-radius: 20px 0 0 20px;
    padding: 0.35rem 0rem 0.35rem 4rem;
    width: 100%;
    color: #323851;
    background-color: #8b48bf4d;
    z-index: 1;
  }

  .item__content {
    padding: 1.5rem 1.5rem 0.5rem 0rem;
  }

  .button1-li {
    background-image: url(../img/button1.svg);
    background-size: 14%;
    background-repeat: no-repeat;
    background-position: top 1.4rem left 2rem;
  }

  .button2-li {
    background-image: url(../img/button2.svg);
    background-size: 14%;
    background-repeat: no-repeat;
    background-position: top 1.4rem left 2rem;
  }

  .button3-li {
    background-image: url(../img/button3.svg);
    background-size: 14%;
    background-repeat: no-repeat;
    background-position: top 1.4rem left 2rem;
  }

  h1.banner-title {
    text-align: center;
    font-size: 2.35rem;
    width: 100%;
    padding: 0.5rem 4.5rem;
    line-height: 119.6%; /* 47.84px */
    letter-spacing: -0.2px;
  }
  
  /* Section Best of Month  */
  .best__container{
    flex-direction: column;
  }
  .mobile-item{
    display: none;
  }

  .footer {
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
    height: 80vh;
    padding: 0.5rem 8%;
  }

  .suscription input {
    padding: 0.5rem 5rem 0.5rem 0.75rem;
  }

  .suscription {
    padding-bottom: 2rem;
  }

  .footer section {
    flex-direction: column-reverse;
    width: 100%;
    align-items: center;
  }

  .social-media {
    width: 80vw;
    padding: 2.5rem 0;
  }

  .credits-desktop {
    display: none;
  }

  .credits-mobile {
    display: block;
    font-size: 14px;
    color: #8c8c94;
    padding-top: 2rem;
    text-align: center;
  }

  section.links-container {
    display: flex;
    flex-direction: row;
    padding: 1rem 2.5rem;
    justify-content: space-between;
    gap: 25%;

    align-items: start;
  }
}
